
<form action="{{host}}/api/session/login", method="post">
  <input name="email" placeholder="email" />
  <br>
  <input name="password" placeholder="password" />
  <br>
  <button value="submit">Logear</button>
</form>
<br>
<a href="{{host}}/api/session/github">Login with GitHub</a>
<br>
<a href="{{host}}/signup">Signup</a>
<br>
<a href="{{host}}/RecuperarPass">Restableces contraseña</a>
