
<form action="{{host}}/api/session/recuperarpass"  method="post">
   <h4>
    ingrese email para enviar un link con el cual pueda 
    <br>restablecer su contraseña
  </h4>
  <input name="email" placeholder="email" />
  <br>  
  <button value="submit">enviar</button>
</form>
