
<form action="{{host}}/api/session/signup", method="post">
  <input name="first_name" placeholder="first_name" />
  <br>
  <input name="last_name" placeholder="last_name" />
  <br>
  <input name="email" placeholder="email" type="email" />
  <br>
  <input name="age" placeholder="age" type="number" />
  <br>
  <input name="password" placeholder="password" />
  <br>
  <button value="submit">Registrarse</button>
</form>